/*
  Colors: Swatch1.png
    Grey: #565554
    Blue: #2e86ab
    Tan: #f6f5ae
    Yellow: #f5f749
    Red: #f24236
*/

.centerTEXT{
  text-align: center;
}
.centerIMG{
  float: none;
  margin: 0 auto;
}
html,body{height:100%;}
body{
    background-image:url(stardust.png);
}

.container {
    height:100%;
}

.fill{
    width:100%;
    height:100%;
    min-height:100%;
    padding:10px;
    color:#efefef;
}

#Home_1{
}

#nav{
  background-color:#f24236;
}
