/*
  Colors: Swatch1.png
    Grey: #565554
    Blue: #2e86ab
    Tan: #f6f5ae
    Yellow: #f5f749
    Red: #f24236
*/

.centerTEXT{
  text-align: center;
}
.centerIMG{
  float: none;
  margin: 0 auto;
}
html,body{height:100%;}
body{
    background-image:url(stardust.png);
}

.container {
    height:100%;
}

.fill{
    width:100%;
    height:100%;
    min-height:100%;
    padding:10px;
    color:#efefef;
}

.showROW{
  background-color: red;
}
.showCOL{
  background-color: green;
}

.buttons{
  background-color: black;

}

#Home_1{
}

#term{
  color: black;
  width: 500px;
  height: 250px;
  border-color: black;

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

#sub{

}

#formTERM{
  height: 50%;
  width: 100%;
}

#outTERM{
  background-color: black;

  /* pos */
  border-color: black;
    width: 50%;
  height: 90%;

  /*pushing the top box down into the input */
  margin-bottom: -4px;

  /*border setup */
  border-color: Grey;
  border-style:solid;
  border-width: medium;

}

#inTERM{
  background-color: black;
  border-color: black;
  color: green;
  font-weight: bold;

  /* pos */
  width: 50%;
  height: 10%;
  text-align: left;

  /*pushing the top box up into the input */
  margin-top: -4px;

  /*border setup */
  border-color: grey;
  border-style:solid;
  border-width: medium;
}
